<ul class='main-container'>
  <li [routerLink]="['/']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:
    true}" class="link text-center">Home</li>
  <li [routerLink]="['/tic-tac-toe']" routerLinkActive="router-link-active" class="link text-center">Tic-tac-toe, <br> 4 in row<i class="star fas fa-star"></i></li>
  <li [routerLink]="['/dice-game']" routerLinkActive="router-link-active" class="link text-center">Dice game</li>
  <li [routerLink]="['/gallery']" routerLinkActive="router-link-active" class="link text-center">Gallery</li>
</ul>
