.board-container{
  width: 350px;
  height: 350px;
  max-width: 350px;
  max-height: 350px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.726);
}

.info-row{
  margin-top: 3px;
  /* margin-top: 7px; */
  display: grid;
  width: 100%;
  grid-template-columns: 1fr auto 1fr;
  justify-items: center;
}

.back{
  padding: 1px;
  width: 30px;
  height: 30px;
}
/* Remove colored border on button, after click */
/* button:focus {outline:0;} */

table{
  width: 320px;
  height: 320px;

  max-width: 320px;
  max-height: 320px;

  padding: 5px;

  grid-column: 1 / 1;
  grid-row: 1 / 1;
 }

 td{
   text-align: center;
   background-color: antiquewhite;
 }

.color-transition{
  color: rgba(00,27,74,0.0);
  transition: color 0.5s linear;
}


 table.size-3x3{
  border-spacing: 10px;
 }

table.size-3x3 td{
  background-color: #8bd070c9;
  width: 80px;
  max-width: 80px;
  height: 80px;
  max-height: 80px;
  font-size: 40px;
}

table.size-4x4{
 border-spacing: 8px;
}

table.size-4x4 td{
  background-color: #c3c146c9;
  width: 60px;
  max-width: 60px;
  height: 60px;
  max-height: 60px;
  font-size: 35px;
}

table.size-5x5{
  border-spacing: 6px;
}

table.size-5x5 td{
  background-color: #f1e05fc9;
  width: 50px;
  max-width: 50px;
  height: 50px;
  max-height: 50px;
  font-size: 32px;
}

table.size-6x6{
  border-spacing: 5px;
}

table.size-6x6 td{
  background-color: #ef8232c9;
  width: 40px;
  max-width: 40px;
  height: 40px;
  max-height: 40px;
  font-size: 30px;
}

table.size-7x7{
  border-spacing: 4px;
}

table.size-7x7 td{
  background-color: #af3131c9;
  width: 25px;
  max-width: 25px;
  height: 25px;
  max-height: 25px;
  font-size: 20px;
}

/* .endGameScreen{
  width: 350px;
  height: 350px;

  grid-column: 1 / 1;
  grid-row: 1 / 1;

  background-color: rgba(127, 255, 212, 0.7);
  z-index: 2;

  display: grid;
  justify-items: center;
  align-items: center;
} */

.win-field{
  background-color: transparent !important;
}

canvas{
  position: absolute;
}
