.top-bar{
  width: 100vw;
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  padding: 2rem;
}

.description-reminder{
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.logo{
  width: 8rem;
}

.grid-center{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

