.non-available-field-alert{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 3px #00274a;
  background-color: rgba(255,00,00,0.9);
  width: 200px;
  height: 60px;
  text-align: center;

  display: grid;
  align-items: center;

  animation: move-animation 2s ease-in 0s 1 normal none;
}

/* Fix for Firefox, because info-box originally was moved down */
@supports (-moz-appearance:meterbar)  {
  .non-available-field-alert {
    transform: translate(-50%, -80%);
  }
}


@keyframes move-animation{
  50% { opacity: 1 }
  100% { top: 40%; opacity: 0 }
}
