.dices-container{
  display: grid;
  grid-template-columns: repeat(5, 150px);
  grid-template-rows: 150px;
  grid-gap: 20px;
  justify-content: center;
}

table{
  border: solid 1px black;
}

th{
  border: solid 1px black;
  padding: 10px;
}

.possibleValue{
  color: gray;
}
